.container{
    max-width: 1140px;
}

.tag{
    padding: 0 20px;
    height: 20px;
    width: fit-content;
    font-size: 10px;
    line-height: 20px;
    border-radius: 25px;
    background-color: blue;
    color: white;
}