<div class="jumbotron" style="position: relative;">
  <div class="text-center">
    <h1 class="display-4">Hussein M. Kanaan</h1>
    <h3>Full Stack Software Developer</h3>
  </div>
  <div style="position: absolute; bottom: 5px; right:10px">
    <a href="https://www.linkedin.com/in/hussein-m-kanaan-a5622321b/" target="_blank">
      <img src="../../assets/ContactImages/LinkedIn.png" width="30" height="30"
        class="rounded-circle me-3">
      
    </a>
    <a href="https://github.com/husseinkanaan96" target="_blank">
      <img src="../../assets/ContactImages/Github.png" width="30" height="30" class="rounded-circle me-3">
      
    </a>
    <a href="https://stackoverflow.com/users/18373848/hussein-m-kanaan" target="_blank">
      <img src="../../assets/ContactImages/stackoverflow.png" width="30" height="30"
        class="rounded-circle me-3">
    </a>

  </div>

</div>
