<div class="container">
  <div class="row">
    <!--About Me-->
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>About Me</h2>
        <img src="../../assets/Me.png" alt="profile picture" width="256" height="256" class="rounded-circle" />
        <p style="font-family: 'Times New Roman', Times, serif;">
          Passionate and results-driven software developer with demonstrative
          hands-on experience in creating and maintaining robust and innovative
          software solutions. My expertise lies in developing scalable
          applications using cutting-edge technologies and best practices.I
          specialize in Java, JavaScript, Oracle Databases, PostgreSQL, Spring
          Boot, Angular, Spring MVC, Nodejs, HTML, CSS, jQuery, XML, and Java
          Server Pages (JSP). I thrive in collaborative environments, where I
          contribute my technical skills and problem-solving abilities to drive
          project success. I am passionate about staying updated with the latest
          industry trends and emerging technologies, allowing me to create
          innovative solutions tailored to meet the unique needs of clients and
          end-users.
        </p>
      </div>
    </div>
  </div>
</div>
