<footer class="footer mt-auto py-3">
  <div class="container text-center">
    <div class="mb-3">
      <a href="https://www.linkedin.com/in/hussein-m-kanaan-a5622321b/" target="_blank">
        <img src="../../assets/ContactImages/LinkedIn.png" width="30" height="30" class="rounded-circle me-3 social-icon">
      </a>
      <a href="https://github.com/husseinkanaan96" target="_blank">
        <img src="../../assets/ContactImages/Github.png" width="30" height="30" class="rounded-circle me-3 social-icon">
      </a>
      <a href="https://stackoverflow.com/users/18373848/hussein-m-kanaan" target="_blank">
        <img src="../../assets/ContactImages/stackoverflow.png" width="30" height="30" class="rounded-circle me-3 social-icon">
      </a>
    </div>
    <div>
      <h6>&copy; {{ currentYear }} Hussein M. Kanaan All Rights Reserved</h6>
    </div>
  </div>
</footer>
