<div class="container">
  <div class="text-center border mb-5 shadow rounded">
    <h1>Contact</h1>
    <p>
      I can be reached via the following email:
      <a href="mailto:info@husseinkanaan.com"><b>info&#64;husseinkanaan.com</b></a>
      <br> or via <b>WhatsApp: +961 71674174</b>
    </p>
    <p>Feel free to connect with me on any of the following platforms:</p>
  </div>
  <div class="list-group shadow">
    <a href="https://www.linkedin.com/in/hussein-m-kanaan-a5622321b/" target="_blank"
      class="list-group-item list-group-item-action d-flex gap-3 py-3">
      <img src="../../assets/ContactImages/LinkedIn.png" width="32" height="32"
        class="rounded-circle flex-shrink-0 me-5">
      <h3 class="mb-0">LinkedIn</h3>
    </a>
    <a href="https://github.com/husseinkanaan96" target="_blank"
      class="list-group-item list-group-item-action d-flex gap-3 py-3">
      <img src="../../assets/ContactImages/Github.png" width="32" height="32" class="rounded-circle flex-shrink-0 me-5">
      <h3 class="mb-0">GitHub</h3>
    </a>
    <a href="https://stackoverflow.com/users/18373848/hussein-m-kanaan" target="_blank"
      class="list-group-item list-group-item-action d-flex gap-3 py-3">
      <img src="../../assets/ContactImages/stackoverflow.png" width="32" height="32"
        class="rounded-circle flex-shrink-0 me-5">
      <h3 class="mb-0">StackOverFlow</h3>
    </a>
  </div>

  <!-- <div class="mt-5">
    <h2>Send a Message</h2>
    <form id="contact-form">
      <div class="mb-3">
        <label for="fullName" class="form-label">Full Name</label>
        <input type="text" class="form-control" id="fullName" name="fullName" required>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" required>
      </div>
      <div class="mb-3">
        <label for="subject" class="form-label">Subject</label>
        <input type="text" class="form-control" id="subject" name="subject" required>
      </div>
      <div class="mb-3">
        <label for="message" class="form-label">Message</label>
        <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Send Message</button>
    </form>
  </div>
</div>

<script src="https://cdn.emailjs.com/dist/email.min.js"></script>
<script>
  (function() {
    emailjs.init("info@husseinkanaan.com");
  })();

  document.getElementById('contact-form').addEventListener('submit', function(event) {
    event.preventDefault();
    emailjs.sendForm('service_a7m0m89', 'template_me98fzr', this)
      .then(function(response) {
        alert('Message sent successfully!');
      }, function(error) {
        alert('Message failed to send. Please try again later.');
      });
  });
</script> -->

